<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<body>
<div th:insert="~{fragments/navbar.html :: navbar}"></div>
<br>
<main>
    <form method="post" th:action="@{/equipos/save}">                <!-- COMPLETAR -->
        <div class="mb-3">
            <label for="deviceName" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="deviceName" id="deviceName">
        </div>

        <div class="mb-3">
            <label for="deviceType" class="form-label">Tipo</label>
            <input type="text" class="form-control" name="deviceType" id="deviceType">
        </div>

        <div class="mb-3">
            <label for="model" class="form-label">Modelo</label>
            <input type="text" class="form-control" name="model" id="model">
        </div>

        <div class="mb-3">
            <label for="serialNumber" class="form-label">Numero de serie</label>
            <input type="text" class="form-control" name="serialNumber" id="serialNumber">
        </div>

        <div class="mb-3">
            <label for="siteID" class="form-label">Selector de Sitios</label>
            <select class="form-select" name="siteID" id="siteID">
                <option th:each="sitios: ${listaSitios}"
                        th:text="${sitios.sitename}" th:value="${sitios.siteid}">Open this select menu</option>
            </select>
            <label class="form-label">Sitio</label>
        </div>

        <a th:href="@{/equipos/verEquipos}" class="btn btn-danger">Cancelar</a>                 <!-- COMPLETAR -->
        <button type="submit" class="btn btn-primary">Registrar</button>                <!-- COMPLETAR -->

    </form>


</main>

</body>
</html>